---
---

body {
background-color: ghostwhite;
font: Trebuchet, sans-serif;
padding-left: 100px;
padding-right: 100px;
}

h1 {
}

.linkcurrentpage{
color: #20F020;
}

.right{
float:right;
}

.left{
float:left;
}